body {
    background-color: lightgray;
    margin: 0;
}
h1 {
    color: black;
    font-size: 500%;
    text-align: center;
}
ul{ 
    list-style: none;
    font-size: 300%;
    justify-content: space-evenly;}


li{
    color:black;
}
p{
    color: black;
    font-size: 300%;
}

.center{
    width: 100%;
    text-align: center;
    background-image: url(Background.jpg);
    background-size: 1980px 500px;
    background-repeat: no-repeat ;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.contact-info{
    list-style: none;
    display: flex
}

@media screen and (max-width: 600px) {
    .contact{
        width: 100%;
        text-align: center;
    }
    .contact-info{
    display: initial;
    text-align: center;
    }
    }
.email{
text-align: center;
}